<!doctype html>
<html>
    <head>
        <title>Connect</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/index_style.css') }}">
    </head>
    <body>
        <h1>Connect</h1>
        <form action='/' method='post'>
            <input placeholder='Name' name='name'>
            <input placeholder='Post Content' name='post'>
            <input type='submit' value='Submit'>
        </form>

        {% for post in posts %}
        <div>{{post[1] + ': ' + post[2]}}</div>
        {% endfor %}
    </body>
</html>